#container{style: "width:100%; height:400px;"}
  %p bididy bobidy BOO!
- content_for :head do
  = javascript_include_tag 'highcharts'
  = javascript_include_tag 'themes/gray'

%div.clear{style: "margin-top: 50px"}
  =link_to "< Edit Usage Profile", edit_usage_profile_path(@profile), :class => "button btn btn-success pull-left"


.row{style: "margin-top: 100px"}
  %h3 Description
  .row.well
    This page shows your expected healthcare cost breakdown per available plan.  Each plan has specified their annual deductible and maximum out-of-pocket costs.
    Total cost is comprised of the annual premium paid in addition to the sum of all the service costs accrued during the year.  The most cost-effective plan for
    you is the one with the <b>shortest</b> bar.
    %ul
      %li= "<font color='#BC5959'>Annual Premium</font>  - fixed cost for enrollement in a particular medical plan".html_safe
      %li=  "<font color='#94B8FF'>Service / Care</font>  - total paid by you for service and health care. Factors affecting this are the annual deductible and maximum out-of-pocket thresholds, service copays and co-insurance percentages.".html_safe
