%h1.text-center Average cost of services for: 60614
.row
  .col-md-6.col-md-offset-3
    %table.table.table-striped.table-bordered
      %tr
        %th Service
        %th Typical Cost
      %tr
        %td Wellness Visits
        %td $185
      %tr
        %td MRI(s)
        %td $800
