%h1.text-center Average cost of services for: 60614
.row
  .col-md-6.col-md-offset-3
    %table.table.table-striped.table-bordered
      %tr
        %th Service
        %th Typical Cost
      - @service_costs.each do |service|
        %tr
          %td=service.name
          %td=number_to_currency(service.cost)
    =link_to "Next", new_service_usage_path, :class => "button btn btn-success pull-right"
