%h1 Average cost of services
.row
  .span4
    %table.table.table-striped.table-bordered
      %tr
        %th Service
        %th Typical Cost
      %tr
        %td Wellness Visits
        %td $185
      %tr
        %td MRI(s)
        %td $800
