%h1 Average cost of services
%table.table.table-striped.table-bordered
  %thead
    %td Service
    %td Typical Cost
  %tbody
    %tr
      %td Wellness Visits
      %td $185
    %tr
      %td MRI(s)
      %td $800
